<div class="container">
    <div style="padding: 20px 0px 35px 0px;" class="row header-card">
        <div class="d-flex" style="justify-content: space-between;">
          <div class="d-flex flex-column">
          <i class="fa fa-plane fa-2x" aria-hidden="true" style="color: #3f51b5;"></i>
          <a class="main-heading" style="color: #3f51b5;">Flights</a>
        </div>
        <div class="d-flex flex-column">
          <i class="fa fa-train fa-2x" aria-hidden="true"></i>
          <a class="main-heading">Trains</a>
        </div>
        <div class="d-flex flex-column">
          <i class="fa fa-bus fa-2x" aria-hidden="true"></i>
          <a class="main-heading">Buses</a>
        </div>
        <div class="d-flex flex-column">
          <i class="fa fa-car fa-2x" aria-hidden="true"></i>
          <a class="main-heading">Cars</a>
        </div>
        </div>
    </div>
    <div>
    <form class="search-form" fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="row" fxLayoutGap="10px" class="form-row" style="margin-top: 25px;">
    <mat-radio-group aria-label="Select an option" style="padding: 0px 10px;">
  <mat-radio-button value="1">One Way</mat-radio-button>
  <mat-radio-button value="2">Round Trip</mat-radio-button>
</mat-radio-group>
</div>

  <div fxLayout="row" fxLayoutGap="10px" class="form-row d-flex justify-content">
    <mat-form-field appearance="fill" class="form-field" style="width: 250px;">
      <mat-label>From</mat-label>
      <input matInput placeholder="Origin">
    </mat-form-field>
    <a style="position: relative; bottom: -20px;"><i class="fa fa-exchange" aria-hidden="true"></i></a>
    <mat-form-field appearance="fill" class="form-field" style="width: 250px;">
      <mat-label>To</mat-label>
      <input matInput placeholder="Destination">
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field" style="width: 175px;">
      <mat-label>Departure Date</mat-label>
      <input matInput [matDatepicker]="picker1" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

       <mat-form-field appearance="fill" class="form-field" style="width: 175px;">
      <mat-label>Return Date</mat-label>
      <input matInput [matDatepicker]="picker2" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

     <mat-form-field appearance="fill" class="form-field" style="width: 175px;">
      <mat-label>Travellers</mat-label>
      <input matInput type="number" placeholder="Number of Travellers">
    </mat-form-field>

     <mat-form-field appearance="fill" class="form-field" style="width: 175px;">
      <mat-label>Class</mat-label>
      <mat-select>
        <mat-option value="economy">Economy</mat-option>
        <mat-option value="business">Business</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row" class="form-row" style="text-align: right; padding: 0 10px;">
    <button mat-raised-button color="primary" class="search-button">Search Flights</button>
  </div>

  
        </form>
    </div>
</div>


