
.main-heading{
    color: #000;
    text-decoration: none;
}
.flex-column {
  flex-direction: column;
}
.justify-content {
  justify-content: space-between;
}
.header-card {
   margin: 0% 25%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 53%);
    padding: 20px 0px;
    position: relative;
    z-index: 1;
    display: flex;
    bottom: -40px;
    border-radius: 8px;
}
.search-form {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 53%)
}

.form-row {
  margin-bottom: 10px;
}
.mat-form-field {
    padding: 0 10px;
    width: 209px;
    border-radius: 10px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
